/* This is a CSS comment */
body {
padding: 20px 10px;
font-family: georgia;
max-width: 2000px;
margin: 0 auto; 
font-size: 1.6em;
}  
h1 {
text-align: center;
	color: black;
}

p {
	margin: 10px 0;
}

ul {
    list-style-type: none;
}
li {
    font-size: 1.2em;
    line-height: 2em; 
}

.lesson {
	background-color: #228b22;
	border-radius: 50px;
	color: #f5deb3;
	padding: 25px;
	margin: 20px auto;
}
h2 {
	margin: 20px;
}
.concept {
	background-color: #f5deb3;
	padding: 6px;
	margin: 20px;
	border-radius: 6px;
	color: black;
}
.concept-title {
	font-size: 1.5em;
	margin: 20px;
	text-align: center;
	color: black;
}
.concept-description {
	font-weight: lighter;
  font-size: 1.4em;
	margin: 10px;
}
.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}
span.code {
    font-family: georgia;
    background-color: #d7f0d0;
    padding: 2px 4px;
    font-weight: bold;
}
div.code-block {
    font-family: Times New Roman;
    background-color: #cfe9ec;
    padding: 2px 4px;
    display: inline-block;
}

span.indent {
    margin-left: 38px;
}